@charset "UTF-8";



:root {
    --cor0: black;
    --cor1: rgba(4, 110, 209, 0.364);
    --cor2: rgb(7, 7, 255);
    --cor3: rgb(12, 12, 240);

    --font-padrao: Arial, Helvetica, Sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;    
}

header img {
    box-shadow: 0px 7px 7px center;
}

nav {
    background-color: var(--cor1);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.289);    
}