@charset "UTF-8";

:root {
    --cor0: black;
    --cor1:white;
    --cor2:blue;
    --cor3:rgb(2, 0, 128);
}

body {
    background-color: linear-gradient(to bottom, var(--cor2), var(--cor3));    
}

h1 {
    color: aliceblue;
    
}